---
import { getCollection } from "astro:content"
import { Picture } from "astro:assets"
import { getURL } from "@utils/url"
import PageLayout from "@layouts/PageLayout.astro"
import ArrowCard from "@components/ArrowCard"
import { SITE, SOCIALS } from "@consts"
import TwinklingStars from "@components/TwinklingStars.astro"
import MeteorShower from "@components/MeteorShower.astro"
import HeroPhoto from "@images/hero.jpg";
import AboutPhoto from "@images/about.jpg";
import Container from "@components/Container.astro"

const posts = (await getCollection("blog"))
  .filter(post => !post.data.draft)
  .sort((a, b) => b.data.date.getTime() - a.data.date.getTime())
  .slice(0,3)

const projects = (await getCollection("projects"))
  .filter(project => !project.data.draft)
  .sort((a, b) => b.data.date.getTime() - a.data.date.getTime())
  .slice(0,3)

const stack = [
  { 
    text: "Astro", 
    icon: "astro", 
    href: "https://astro.build" 
  },
  { 
    text: "Javascript", 
    icon: "javascript", 
    href: "https://www.javascript.com" 
  },
  { 
    text: "Typescript", 
    icon: "typescript", 
    href: "https://www.typescriptlang.org" 
  },
  { 
    text: "Tailwind", 
    icon: "tailwind", 
    href: "https://tailwindcss.com" 
  },
]
---

<PageLayout title="Home" description={SITE.DESCRIPTION}>

  <!-- Light Mode: Particles -->
  <!-- <div class='absolute inset-0 block dark:hidden'>
    <div id='particles1' class='fixed inset-0'></div>
    <div id='particles2' class='fixed inset-0'></div>
    <div id='particles3' class='fixed inset-0'></div>
  </div> -->

  <!-- Dark Theme: Stars -->
  <div class='absolute inset-0 bg-black hidden dark:block'>
    <div id='stars1' class='fixed inset-0'></div>
    <div id='stars2' class='fixed inset-0'></div>
    <div id='stars3' class='fixed inset-0'></div>
  </div>

  <!-- Dark Theme: Twinkling Stars / Metors -->
  <div id="galaxy" class="fixed inset-0">
    <div class="hidden dark:block">
      <TwinklingStars/>
      <MeteorShower/>
    </div>
  </div>

  <script is:inline src={getURL("/js/bg.js")}></script>
  
  <!-- HERO -->
  <section class="animate relative min-h-[max(100vh,60rem)] md:min-h-[max(100vh,54rem)] lg:min-h-[max(100vh,48rem)] w-full overflow-hidden">
    <Container size="5xl">
      <div class="relative z-0 min-h-full flex flex-col-reverse lg:flex-row items-center justify-center gap-8 px-5 py-24 -translate-y-8 md:-translate-y-10 lg:-translate-y-12">
        
        <!-- Hero Text -->
        <div class="w-full lg:w-auto flex justify-center lg:justify-end">
          <div class="text-center lg:text-left max-w-lg">
            <p class="animated text-xl md:text-xl lg:text-2xl font-semibold opacity-75">
              Hello, I am
            </p>

            <p class="animated text-5xl md:text-6xl lg:text-7xl font-bold uppercase text-black dark:text-white">
              Tanner Sims
            </p>

            <p class="animated text-base md:text-lg lg:text-lg font-thin leading-snug text-black/65 dark:text-white/65">
              Mathematician, computer scientist, machine learning engineer, musician, and occasional victim of a good problem.
            </p>

            <div id="ctaButtons" class="animated flex flex-wrap gap-4 justify-center lg:justify-start mt-6">
              <a href={getURL("/blog")} class="py-2 px-4 rounded truncate text-xs md:text-sm lg:text-base bg-black dark:bg-white text-white dark:text-black hover:bg-black/70 hover:dark:bg-white/70">
                Read my blog
              </a>

              <a href={getURL("/work")} class="py-2 px-4 truncate rounded text-xs md:text-sm lg:text-base border border-black/25 dark:border-white/25 hover:bg-black/15 hover:dark:bg-white/15">
                View my work
              </a>
            </div>
          </div>
        </div>

        <!-- Hero Image -->
        <div class="w-full lg:w-auto flex justify-center lg:justify-start">
          <div class="relative size-72 md:size-[20rem] lg:size-[22rem] xl:size-[24rem] rounded-full overflow-hidden shadow-2xl dark:shadow-none bg-black/5 dark:bg-white/5">
            <Picture
              src={HeroPhoto}
              formats={['avif', 'webp']}
              alt="Photo of Tanner Sims"
              fit="cover"
              width="1200"
              class="h-full w-full object-cover scale-[1.33] translate-y-4"
            />
          </div>
        </div>
      </div>
    </Container>

    <div id="planetcont" class="absolute inset-0 top-[max(80vh,50rem)] md:top-[max(80vh,44rem)] lg:top-[max(80vh,35rem)] overflow-hidden">
      <div id="crescent" class="absolute top-0 left-1/2 -translate-x-1/2 w-[250vw] min-h-[100vh] aspect-square rounded-full p-[1px] bg-gradient-to-b from-black/25 dark:from-white/75 from-0% to-transparent to-5%">
        <div id="planet" class="w-full h-full bg-white dark:bg-black rounded-full p-[1px] overflow-hidden flex justify-center">
          <div id="blur" class="w-full h-12 rounded-full bg-neutral-900/25 dark:bg-white/25 blur-3xl" />
        </div>
      </div>
    </div>
  </section>

  <div class="relative bg-white dark:bg-black">
    <div class="mx-auto max-w-screen-sm p-5 space-y-24 pb-16">

      <!-- About Section -->
      <section class="animate">
        <article class="space-y-8">
          <p>Sometimes the hardest part of solving a problem is <b><i>defining what the problem really is</i></b>.</p>

          <p>Hi, I'm Tanner, a <b><i>mathematician</i></b> and <b><i>machine learning engineer</i></b>. I work with companies to translate <b><i>product goals</i></b> into <b><i>models</i></b> and <b><i>algorithms</i></b>, and I am currently pursuing an MSc in computer science at Chalmers, where I am focusing on <b><i>algorithms</i></b>, <b><i>languages</i></b>, and <b><i>logic</i></b>.</p>

          <p>I enjoy work where <b><i>quality matters</i></b>: understanding the domain, defining the problem carefully, and building systems that are <b><i>explainable</i></b>, <b><i>maintainable</i></b>, and <b><i>robust</i></b>. My technical interests (and more of my free time than I would like to admit) fall under <b><i>optimization</i></b>, <b><i>probability</i></b>, <b><i>game theory</i></b>, and <b><i>algorithms</i></b>.</p>

          <div class="flex flex-col sm:flex-row-reverse items-center sm:items-start gap-5 !mt-0">
            <!-- About Image -->
            <div class="shrink-0 my-[2rem]">
              <div class="relative size-[12rem] rounded-full overflow-hidden shadow-2xl dark:shadow-none bg-black/5 dark:bg-white/5">
                <Picture
                  src={AboutPhoto}
                  formats={['avif', 'webp']}
                  alt="Tanner Sims smiling at graduation"
                  fit="cover"
                  width="600"
                  class="h-full w-full object-cover scale-[1.25] -translate-x-[12%] -translate-y-[25%]"
                />
              </div>
            </div>

            <p class="flex-1 my-[2rem]">
              Outside of work I write music, make occasional procedural art, and optimize the fun out of new board games in the name of <b><i>glorious victory</i></b>! Feel free to poke around and see what I am up to, and don't be afraid to reach out! <i>(Remember that species of the mathematicus genus are generally more scared of you than you are of them)</i>
            </p>
          </div>
        </article>
      </section>

      <!-- Blog Preview Section -->
      <section class="animate">
        <div class="space-y-4">
          <div class="flex justify-between">
            <p class="font-semibold text-black dark:text-white">
              Recent posts
            </p>
            <a href={getURL("/blog")} class="w-fit col-span-3 group flex gap-1 items-center underline decoration-[.5px] decoration-black/25 dark:decoration-white/50 hover:decoration-black dark:hover:decoration-white text-black dark:text-white underline-offset-2">
              <span class="text-black/75 dark:text-white/75 group-hover:text-black group-hover:dark:text-white">
                All posts
              </span>
            </a>
          </div>
          <ul class="space-y-4">
            {posts.map((post) => (
              <li>
                <ArrowCard entry={post} />
              </li>
            ))}
          </ul>
        </div>
      </section>

      <!-- Project Preview Section -->
      <section class="animate">
        <div class="space-y-4">
          <div class="flex justify-between">
            <p class="font-semibold text-black dark:text-white">
              Recent projects
            </p>
            <a href={getURL("/projects")} class="w-fit col-span-3 group flex gap-1 items-center underline decoration-[.5px] decoration-black/25 dark:decoration-white/50 hover:decoration-black dark:hover:decoration-white text-black dark:text-white underline-offset-2">
              <span class="text-black/75 dark:text-white/75 group-hover:text-black group-hover:dark:text-white">
                All projects
              </span>
            </a>
          </div>
          <ul class="space-y-4">
            {projects.map((project) => (
              <li>
                <ArrowCard entry={project} />
              </li>
            ))}
          </ul>
        </div>
      </section>

      <!-- Contact Section -->
      <section class="animate">
        <div>
          <p class="font-semibold text-black dark:text-white">
            Let's Connect
          </p>
          <p>
            Reach out to me via email or on social media.
          </p>
          <div class="grid grid-cols-4 gap-y-2 mt-4 auto-cols-min">
            {SOCIALS.map(social => (
              <div class="col-span-1 flex items-center gap-1">
                <span class="whitespace-nowrap truncate">
                  {social.NAME}
                </span>
              </div>
              <div class="col-span-3 truncate">
                <a href={social.HREF} target="_blank" class="w-fit col-span-3 group flex gap-1 items-center underline decoration-[.5px] decoration-black/25 dark:decoration-white/50 hover:decoration-black dark:hover:decoration-white text-black dark:text-white underline-offset-2">
                  <span class="text-black/75 dark:text-white/75 group-hover:text-black group-hover:dark:text-white">
                    {social.TEXT}
                  </span>
                </a>
              </div>
            ))}
        </div>
      </section>
    </div>
  </div>
</PageLayout>
